<nav class="category-menu" aria-label="Categorías de productos">
    <ul class="category-list">
        <li><a href="/categories/electronica">Electrónica</a></li>
        <li><a href="/categories/alimentos">Alimentos</a></li>
        <li><a href="/categories/bebidas">Bebidas</a></li>
        <li><a href="/categories/indumentaria">Indumentaria</a></li>
        <li><a href="/categories/juegos">Juegos</a></li>
        <li><a href="/categories/automotor">Automotor</a></li>
        <li><a href="/categories/hogar">Hogar</a></li>
        <li><a href="/categories/otros">Otros</a></li>
    </ul>
</nav>
